/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

.square {
	height: 50px;
	width: 50px;
	/* background-color: #555;*/
	border: 2px solid #05ff4c8c;
	opacity: 0.2; 
	position: absolute;
    left: 85%;
    
  }

  .square2 {
	height: 50px;
	width: 50px;
	border: 2px solid #05ff4c8c;
	opacity: 0.2; 
	position: absolute;
	left: 10%;
	bottom: 50%;
    
  }

#closed-captions p {
	opacity: 0;
    transition: .05s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

#closed-captions .on {
	opacity: 1;
	position: absolute;	
}

#closed-captions .off {
	transition: .1s;
	opacity: 0;
}

body { 
	background-color: #222222;
	background-image: url(images/cyber_green.jpg);
    background-size: cover;
}

iframe {
	transition: 1s;
    width: 50%;
    display: block;
    margin: 50px auto 0;
	box-shadow: 0 0 40px 4px #30472b71; 	
}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.voice1::before {
	content: " ";
	background-image: url(images/pc.png);
	background-size: 100% 100%; 
	display: inline-block;
	

  /*size of your image*/
	height: 16px;
	width: 16px;
	background-color: transparent;
	filter: drop-shadow(0 0px 5px rgb(71, 187, 123)); 	

  }

  .voice1{
    width: 33%;
    margin: 20px auto 0;
    padding: 20px 100px;
    background:  rgba(17, 46, 30, 0.7);
    /* box-shadow:  0 0 30px 0 #608a67; */
    border: 1px solid #005c31; 
    /* border-radius: 10px; */
    font-size: 18px;
    font-family: "brenner mono";
    /* font-style: italic; */
    text-shadow: 0 0 10px;
    text-align: center;
    color:  #00c92b;
    z-index: -1;
}


.voice2::before {
	content: "[ K ] :";
	margin-right: 10px;
  }

.voice2{
	width: 33%;
    margin: 20px auto 0;
    padding: 22px 100px;
    background: rgba(17, 46, 30, 0.404); 
    box-shadow:  0 0 20px 0 #00472675; 
	border: 1px solid #ffffff;
    /* border-radius: 10px; */
    font-size: 18px;
	font-family: "brenner sans";
	font-weight: 400;
    /* font-style: italic; */
    /* text-shadow: 0 0 20px; */
    text-align: center;
	color: #ffffffc7;
	letter-spacing: 0.5px;
    z-index: -1;
}

.voice3::before {
	content: "[ Man ] :";
	margin-right: 10px;
  }

.voice3 {
    width: 33%;
    margin: 30px auto 0;
    padding: 10px 100px;
	background: rgba(46, 17, 17, 0.404); 
    box-shadow:  0 0 20px 0 #47000075; 
	border: 1px solid #611d1d91;
    /* border-radius: 10px; */
    font-size: 18px;
    font-family: "brenner sans";
    /* font-style: italic; */
	/* text-shadow: 0 0 10px; */
	font-weight: 400;
    text-align: center;
    color: #a31d1d;
    z-index: -1;
}

.voice4::before {
	content: "[ Unknown ] :";
	margin-right: 10px;
	font-style: italic; 
	font-weight: 200;
  }

.voice4 {
    width: 33%;
    margin: 20px auto 0;
    padding: 20px 100px;
    background:  rgba(17, 46, 17, 0.7);
    /* box-shadow:  0 0 30px 0 #608a67; */
    border: 1px solid #005c08; 
    /* border-radius: 10px; */
    font-size: 18px;
    font-family: "brenner sans";
	/* font-style: italic; */
	font-weight: 300;
    text-shadow: 0 0 15px;
    text-align: center;
    color:  #4be41c;
    z-index: -1;
}


/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */


.sound1 .square {
	opacity: 1;
	animation: shake 0.82s cubic-bezier(.40,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
		
  }
  
  @keyframes shake {
	  10%, 90% {
		transform: translate3d(-10px, 0, 0);
	  }
	  
	  20%, 80% {
		transform: translate3d(11px, 0, 0);
	  }
	
	  30%, 50%, 70% {
		transform: translate3d(-15px, 0, 0);
	  }
	
	  40%, 60% {
		transform: translate3d(19px, 0, 0);
	  }
	}
  
	.sound1 .square2{
		opacity: 1;
		animation: shake 0.82s cubic-bezier(.40,.07,.19,.97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
			
	  }
	  
	  @keyframes shake {
		  10%, 90% {
			transform: translate3d(-10px, 0, 0);
		  }
		  
		  20%, 80% {
			transform: translate3d(11px, 0, 0);
		  }
		
		  30%, 50%, 70% {
			transform: translate3d(-15px, 0, 0);
		  }
		
		  40%, 60% {
			transform: translate3d(19px, 0, 0);
		  }
		}
	  

.sound2 .square {
	opacity: 0.2;
}

.sound2 .square2 {
	opacity: 0.2;
}

.sound3 .square {
	opacity: 1;
	animation: shimmy 1s linear;
	  animation-direction: alternate;
	  
}
@keyframes shimmy {
	0% {
	  transform: translate(0, 0); }
	 


	80% {
	  transform: translate(-20px, -80px) scale(0.5);   
	};
	 
	}
  

.sound3 .square2 {
	opacity: 1;
	animation: shimmy2 1s linear;
	  animation-direction: alternate;
	  
}
@keyframes shimmy2 {
	0% {
	  transform: translate(0, 0); }
	 

	80% {
	  transform: translate(80px, -20px) scale(0.5);   
	};
	 
	}

.sound4 .square {
opacity: 0.2;
}

.sound4 .square2 {
	opacity: 0.2;
	}

.sound5 .square {
opacity: 1;
animation: beep 2s ease-in;
}

@keyframes beep {
	40% {
	  transform: scale(2);    
	}

	50% {
		transform: scale(2.5);    
	  }

	70% {
		transform: scale(1);    
	  };
	 
	}

	.sound5 .square2 {
		opacity: 1;
		animation: beep 2s ease-in;
		}
		
		@keyframes beep {
			40% {
			  transform: scale(2);    
			}
		
			50% {
				transform: scale(2.5);    
			  }
			  
			70% {
				transform: scale(1);    
			  };
			 
			}

.sound6 .square {
	opacity: 0.2;
}

.sound6 .square2 {
	opacity: 0.2;
}

.sound7 .square {
	opacity: 1;
	animation: beep2 2.5s ease-in;
	}
	
	@keyframes beep2 {
		60% {
		  transform: scale(2);    
		}
	
		61% {
			transform: scale(2.5);    
		  }
	
		70% {
			transform: scale(1);    
		  };
		 
}

.sound7 .square2 {
	opacity: 1;
	animation: beep2 2.5s ease-in;
	}
	
	@keyframes beep2 {
		60% {
		  transform: scale(2);    
		}
	
		61% {
			transform: scale(2.5);    
		  }
	
		70% {
			transform: scale(1);    
		  };
		 
}

.sound8 .square {
	opacity: 0.2;
}

.sound8 .square2 {
	opacity: 0.2;
}

.sound9 .square {
	opacity: 1;
	animation: beep3 2.5s ease-in;
	}
	
	@keyframes beep3 {
		60% {
		  transform: scale(2);    
		}
	
		61% {
			transform: scale(2.5);    
		  }
	
		70% {
			transform: scale(1);    
		  };
		 
}

.sound9 .square2 {
	opacity: 1;
	animation: beep3 2.5s ease-in;
	}
	
	@keyframes beep3 {
		60% {
		  transform: scale(2);    
		}
	
		61% {
			transform: scale(2.5);    
		  }
	
		70% {
			transform: scale(1);    
		  };
		 
}

.sound10 .square {
	opacity: 0.2;
}

.sound10 .square2 {
	opacity: 0.2;
}

.sound11 .square{
	opacity: 1;
	animation: shaker 0.5s;
	animation-iteration-count: 83;	 
}

@keyframes shaker {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-2deg); }
	20% { transform: translate(-3px, 0px) rotate(2deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(2deg); }
	50% { transform: translate(-1px, 2px) rotate(-2deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-2deg); }
	80% { transform: translate(-1px, -1px) rotate(2deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-2deg); }
  }

  .sound11 .square2{
	opacity: 1;
	animation: shaker 0.5s;
	animation-iteration-count: 83;	 
}

@keyframes shaker {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-2deg); }
	20% { transform: translate(-3px, 0px) rotate(2deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(2deg); }
	50% { transform: translate(-1px, 2px) rotate(-2deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-2deg); }
	80% { transform: translate(-1px, -1px) rotate(2deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-2deg); }
  }

 

  .sound13 {
	transition: 30s;
    background-image: url(images/cyber_green_4.jpg);
    background-size: cover;
    background-color: black;
}

.sound14 {
    background-image: url(images/cyber_green.jpg);
    background-size: cover;
    background-color: black;
}

.sound14 .square {
	opacity: 0.2;
}

.sound14 .square2 {
	opacity: 0.2;
}

/*

.sound10 {
	transition: 10s;
    background-image: url(images/cyber_green.jpg);
    background-size: cover;
    background-color: black;
}
.sound11 .square {
	border: 2px solid #05ff4c8c;
}



.sound11 {
	transition: 10s;
    background-image: url(images/cyber_green_1.jpg);
    background-size: cover;
    background-color: black;
}


.sound12 {
	transition: 10s;
    background-image: url(images/cyber_green_2.jpg);
    background-size: cover;
    background-color: black;
}


.sound13{
	transition: 10s;
    background-image: url(images/cyber_green_3.jpg);
    background-size: cover;
    background-color: black;
}

.sound14 {
	transition: 10s;
    background-image: url(images/cyber_green_4.jpg);
    background-size: cover;
    background-color: black;
}

.sound16 {
	
    background-image: url(images/cyber_green.jpg);
    background-size: cover;
    background-color: black;
}
