 body { 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #222222;
	margin-top: 5%;
	color: white;
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */



#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	left: 0%;
	right: 0%;
	text-align: center;
}

#closed-captions .on {
	opacity: 1;
	
}
#closed-captions .off {
	transition: .1s;
	opacity: 0;

}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

/*
.p0 span {
	opacity: 0;
	font-family: "Brenner Sans";
	font-style: Italic;
	
}


.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	
	
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;

}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;

}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	
}
*/

.p3.on span:nth-of-type(2) {
font-family: "Brenner Sans Condensed";
font-style: Italic;
font-weight: 600;
font-size: 2em;
color: red;
}

.p4.on span:nth-of-type(4), .p4.on span:nth-of-type(7), .p5.on span:nth-of-type(3) {
font-family: "Brenner Sans Condensed";
font-style: Italic;
font-weight: 400;
letter-spacing: -0.5px;
font-size: 0.9em;
}

.p9.on, .p12.on, .p15.on, .p18.on {
	font-family: "Brenner Sans Condensed";
font-style: Italic;
font-weight: 400;
letter-spacing: -0.5px;
font-size: 0.9em;
margin-top: 25px;
}

.p9.off, .p12.off, .p15.off, .p18.off {
	font-family: "Brenner Sans Condensed";
font-style: Italic;
font-weight: 400;
letter-spacing: -0.5px;
font-size: 0.9em;
margin-top: 25px;
}

.p4.on span:nth-of-type(5), .p5.on span:nth-of-type(1), .p5.on span:nth-of-type(4), .p20.on, .p23.on, .p26.on, 
.p29.on, .p31.on, .p34.on, .p37.on {
font-family: "Brenner Sans Condensed";
font-style: Italic;
font-weight: 400;
letter-spacing: -2px;
font-size: 1.3em;

}



.p6 span {
	font-family: "Brenner Sans Condensed";
font-style: Italic;
font-weight: 600;
	font-size: 20px;
	color: red;	
	letter-spacing: -1px;

}



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */



.voice1 {
	font-family: "Brenner Mono";
    font-weight: 600;
    font-size: 1.5em;
	text-transform: uppercase;

	text-shadow: 0.1em 0 0 rgba(225, 0, 0, 0.75),
    -0.075em -0.1em 0 rgba(0, 225, 0, 0.75),
    0.075em 0.1em 0 rgba(0, 0, 225, 0.75);	

}

.voice2 {
	font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 400;
	font-size: 1.2em;
}

iframe {
	transition: 1s;
}



.sound0 {
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	animation: blinkingBackground 1s;
}
@keyframes blinkingBackground{
	0%		{ background-color: #000000;}
	25%		{ background-color: #1d1d1d;}
	50%		{ background-color: #000000;}
	75%		{ background-color: #1d1d1d;}
	100%	{ background-color: #000000;}
}

.sound1 {
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	animation: blinkBackground 1s;
}
@keyframes blinkBackground{
	0%		{ background-color: #000000;}
	25%		{ background-color: #AE0000;}
	50%		{ background-color: #000000;}
	75%		{ background-color: #AE0000;}
	100%	{ background-color: #000000;}
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */




.sound1 iframe  {

animation: shake 0.82s cubic-bezier(.40,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
	  
}

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-10px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(11px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-15px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(19px, 0, 0);
	}
  }

.sound2 {
	/*background: radial-gradient( #570202, #222222);*/
	background: linear-gradient(-45deg, #000000, #000000, #570202, #570202);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sound3 {
	background: radial-gradient(#222222, #222222)
}


.sound10 iframe{
    transition: 25s;
    width: 42%;
}

.sound11 iframe{
    transition: 1.5s;
    width: 50%;
}
